<!-- Para a página de login -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="nome">Nome:</label><br>
            <input type="text" id="nome" name="nome" placeholder="Nome"><br>
            <label for="senha">Senha:</label><br>
            <input type="password" id="senha" name="senha" placeholder="Senha"><br><br>
            {{ error }}
            <input type="submit" value="Login">
        </form>
        <p>Ainda não tem uma conta? <a href="/cadastrarusuario">Cadastre-se</a></p>
    </div>
</body>
</html>
